<form method="post" class="form-del" action="{{ path('answer_delete', {'id': answer.id}) }}" onsubmit="return confirm('Удалить ответ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ answer.id) }}">
    <button class="back">Удалить</button>
</form>
