{% extends 'base.html.twig' %}

{% block title %}Ответы{% endblock %}

{% block body %}
    <div class="container lesson-container">
    <h1>Ответы</h1>
        {% for answer in answers %}
        <div class="row m-2 mt-3 p-2 lesson-row">
            <div class="col-md lesson-head p-2 text-break">{{ answer.lesson }}</div>
            <div class="col-md lesson-head p-2 text-break">{{ answer.user.name }}</div>
            <a href="{{ path('answer_edit', {'id': answer.id}) }}" class="col-md p-2 changeRole">просмотр</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
