security:
    enable_authenticator_manager: true
    
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
    
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        
        main:
            lazy: true
            provider: app_user_provider
            
            form_login:
                login_path: login
                check_path: login
                enable_csrf: true
                default_target_path: home
                
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800      # 1 неделя в секундах
                path: /               # Действует для всего сайта
                remember_me_parameter: _remember_me
                always_remember_me: false
                
            logout:
                path: app_logout
                target: home

    role_hierarchy:
        ROLE_STUDENT:   ROLE_GUEST
        ROLE_TEACHER:   ROLE_STUDENT
        ROLE_ADMIN:     ROLE_TEACHER

    access_control:
        # Публичные пути
        - { path: ^/login$, roles: PUBLIC_ACCESS }
        - { path: ^/$, roles: PUBLIC_ACCESS }
        
        # Защищенные пути (настройте под свои нужды)
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10