{% extends 'base.html.twig' %}

{% block title %}Дистанционное обучение{% endblock %}

{% block body %}

<main class="row welcome">
    <div class="col-12">
        <h1 class="black text-break">Платформа для дистанционного обучения учащихся</h1>
    </div>
    <div class="row row-wrap">
        <div class="text-welcome col-md">Данный проект является инструментом для организации дистанционного обучения учащихся и предназначен для создания, управления и проведения учебных курсов по различным дисциплинам, включая общеобразовательные предметы, специализированные курсы и авторские программы преподавателей.</div>
        <div class="auth col-md">
            <a href = "{{ path('login') }}" class="btn btn-primary" style="width: 70%; margin:5px auto;">Войти</a>
            <a href = "{{ path('app_register') }}" class="btn btn-primary text-break" style="width: 70%; margin:5px auto;">Зарегистрироваться</a>
        </div>
    </div>
</main>

{% endblock %}