{% extends 'base.html.twig' %}

{% block title %}Дистанционное обучение{% endblock %}

{% block body %}

<main class="row welcome">
    <div class="col-12">
        <h1 class="black text-break">Платформа для дистанционного обучения учащихся</h1>
    </div>
    <div class="row row-wrap">
        <div class="text-welcome col-md">Интернет-сайт является образовательным ресурсом и предназначен для учащихся. Его задача - оказать помощь в изучении учебного материала учащимся, которые по каким-либо причинам временно не могут посещать учреждение образования либо нуждаются в дополнительном разъяснении учебного материала при выполнении домашних заданий. Также данный ресурс может быть использован учащимися как дополнительный, в целях сиспредметтизации и обобщения материала по отдельным предметм.</div>
        <div class="auth col-md">
            <a href = "{{ path('login') }}" class="btn btn-primary" style="width: 70%; margin:5px auto;">Войти</a>
            <a href = "{{ path('app_register') }}" class="btn btn-primary text-break" style="width: 70%; margin:5px auto;">Зарегистрироваться</a>
        </div>
    </div>
</main>

{% endblock %}