{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

<main class="row welcome">
    <div class="col-12">
        <h1 class="black text-break">Профессионально-техническое образование</h3>
        <h1 class="display-8 bordo">Специальность "Технология производства швейных изделий"</h4>
        <h1 class="text-erior black">Учебный предмет "Черчение"</h4>
    </div>
    <div class="row row-wrap">
        <div class="text-welcome col-md">Интернет-сайт является образовательным ресурсом и предназначен для учащихся, осваивающих специальность "Технология производства швейных изделий". Его задача - оказать помощь в изучении учебного материала по предмету "Черчение" учащимся, которые по каким-либо причинам временно не могут посещать учреждение образования либо нуждаются в дополительном разъяснении учебного материала при выполнении домашних заданий. Также данный ресурс может быть использован учащимися как дополнительный, в целях систематизации и обобщения материала по отдельным темам.</div>
        <div class="auth col-md">
            <a href = "{{ path('login') }}" class="btn btn-primary" style="width: 70%; margin:5px auto;">Войти</a>
            <a href = "{{ path('app_register') }}" class="btn btn-primary text-break" style="width: 70%; margin:5px auto;">Зарегистрироваться</a>
        </div>
    </div>
</main>

{% endblock %}

