{% extends 'base.html.twig' %}

{% block title %}Ошибка!{% endblock %}

{% block body %}

<main class="row welcome">
    <div class="col-12">
        <h3 class="display-8">Ошибка!</h3>
        <h3 class="display-8 bordo">Вы пытаетесь привязать урок к несуществующей теме!</h3>
        <h4 class="display-8">Вернитесь назад и убедитесь, что тема действительно существет</h4>
    </div>
</main>

{% endblock %}