{% extends 'base.html.twig' %}

{% block title %}Изменение предмета{% endblock %}

{% block body %}
    <a href="{{ path('subject_index') }}" class="back">назад к списку</a>
    <div class = "form-create">
        <h1>Изменение предмета</h1>
        {{ include('subject/_form.html.twig', {'button_label': 'Обновить'}) }}
    </div>
{% endblock %}
